# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# --- Environments ---
.venv/
.venv_notebook/
venv/
env/
interviews/
interviewsenv/
Notebook_files/

Chopra_Haaland_2024/README.md

*Notebook.html
*Notebook.pdf

apa.csl

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~


# --- Quarto / RMarkdown ---
*.quarto_ipynb
_cache/
*.log

# --- VSCode / IDEs ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db