# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# --- Environments ---
.venv/
.venv_notebook/
venv/
env/
interviews/
interviewsenv/
Notebook_files/
Geiecke_Jaravel_2025/code/backups/
Geiecke_Jaravel_2025/code/transcripts/
Geiecke_Jaravel_2025/code/times/

Chopra_Haaland_2024/README.md




apa.csl

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~


# --- Quarto / RMarkdown ---
*.quarto_ipynb
_cache/
*.log

# --- VSCode / IDEs ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db